.primerp {
    font-family: 'Inconsolata';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.prime {
    font-family: 'Asap';
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.primer {
    font-family:'Maven Pro';
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.primeiro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: #1f1f1f; /* Cor de fundo sólida */
    color: #fff;
    z-index: 1;
}

.poi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3; /* Ajuste a opacidade conforme necessário */
}

.profile {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.pro {
    margin-bottom: 20px; /* Espaçamento entre o texto e os botões */
    width: 680px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.git {
    width: 72px;
    height: 27px;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 999px;
    background: #82BC4F;
    border: none;
    color: #fff;
    cursor: pointer;
}

.ph {
    width: 72px;
    height: 27px;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 999px;
    background: #BB72E9;
    border: none;
    color: #fff;
    cursor: pointer;
}

.cs {
    width: 72px;
    height: 27px;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 999px;
    background: #3996DB;
    border: none;
    color: #fff;
    cursor: pointer;
}

.ht {
    width: 72px;
    height: 27px;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 999px;
    background: #E3646E;
    border: none;
    color: #fff;
    cursor: pointer;
}

.java {
    width: 104px;
    height: 27px;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 999px;
    background: #EABD5F;
    border: none;
    color: #fff;
    cursor: pointer;
}

.da {
    color: #E3646E;
}

h2 {
    font-family: 'Asap';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.caixa {
    width: 528px;
    height: 200px; /* Aumentei a altura para acomodar os botões */
    padding: 12px;
    gap: 16px;
    border-radius: 12px;
    background: #292C34;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinhar itens no início para acomodar os botões */
}

.caixa2 {
    width: 528px;
    height: 215px; /* Aumentei a altura para acomodar os botões */
    padding: 12px;
    gap: 16px;
    border-radius: 12px;
    background: #292C34;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinhar itens no início para acomodar os botões */
}
.caixa img {
    width: 224px;
    height: 196px;
    border-radius: 8px;
}
.caixa2 img {
    width: 224px;
    height: 211px;
    border-radius: 8px;
}
.caixa button {
    color: black;
}
.caixa2 button {
    color: black;
}
.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    width: 244px;
    height: 180px; /* Aumentei a altura para acomodar os botões */
    padding: 8px 4px;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px; /* Adicionado margem superior para espaçar dos textos */
}

.p {
    width: 72px;
    height: 27px;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 999px;
    background: #BB72E9;
    border: none;
    color: #fff;
    cursor: pointer;
}

.c {
    width: 72px;
    height: 27px;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 999px;
    background: #3996DB;
    border: none;
    color: #fff;
    cursor: pointer;
}

.h {
    width: 72px;
    height: 27px;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 999px;
    background: #E3646E;
    border: none;
    color: #fff;
    cursor: pointer;
}

.jav {
    width: 104px;
    height: 27px;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 999px;
    background: #EABD5F;
    border: none;
    color: #fff;
    cursor: pointer;
}

.meio {
    background-color: rgb(26, 27, 28);
    padding: 20px;
    width: 1527px;
    height: 921px;

    gap: 56px;
}



.pei {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3; /* Ajuste a opacidade conforme necessário */
}


.terceiro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: #1f1f1f; /* Cor de fundo sólida */
    color: #fff;
    z-index: 1;
}

.botoes button {
    width: 400px;
height: 68px;
padding: 20px;
gap: 12px;
border-radius: 8px;
opacity: 0px;
background: #292C34;
border: none;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}